DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sistema_cresen?schema=public"
AUTH_SECRET="cambia-esto-por-un-secreto-largo"
NEXTAUTH_URL="http://localhost:3000"
ADMIN_EMAIL="admin@cresen.local"
ADMIN_PASSWORD="Admin12345!"
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=cliente-documentos
CLIENT_DOCUMENT_SIGNED_URL_TTL_SECONDS=120
CLIENT_DOCUMENT_MAX_SIZE_MB=5
